<div class="container">
  <h1 class="text-center">About</h1>
  <p>GitConnect is an online community exclusive to the students of 
  <a href="https://www.freecodecamp.com" target="_blank">freeCodeCamp</a>. The purpose
  of this community is to help the students connect and build a network which is
  crucial when it comes to learning how to code and looking for a new job as a 
  developer.</p>
  
  <p>Typewriter paleo sapiente, taxidermy nostrud pug vaporware snackwave 
  sustainable vape. Deep v helvetica hoodie, vice butcher glossier iPhone mollit
  stumptown exercitation delectus retro hashtag franzen pok pok. Farm-to-table 
  fam biodiesel flexitarian, tousled prism slow-carb ugh consequat cupidatat 
  keffiyeh. Quis slow-carb polaroid, pork belly vexillologist migas tumeric 
  single-origin coffee put a bird on it DIY photo booth twee banh mi 3 wolf 
  moon. Iceland austin slow-carb kombucha godard. Mlkshk raw denim bespoke 
  waistcoat small batch. Nostrud street art nihil, heirloom tofu kombucha 
  iPhone.</p>
  
  <p>Actually vero hell of fap jianbing aute typewriter, kombucha portland. 
  Actually slow-carb tote bag farm-to-table non, jianbing ullamco food truck 
  echo park pork belly etsy cillum minim esse meggings. Kogi succulents 
  biodiesel, hashtag 8-bit sunt heirloom offal celiac authentic portland ennui 
  irony velit. Eiusmod messenger bag tempor VHS. Beard migas fam, vinyl occupy 
  elit VHS kickstarter eu asymmetrical scenester cornhole minim mixtape. Yr 
  photo booth cliche, celiac vape delectus tousled blog pok pok 8-bit. 
  Letterpress meh church-key ullamco disrupt kitsch.</p>
</div>