<div class="container text-center">
  <h1>About</h1>
  <p>GitConnect is an online community exclusive to the students of 
  <a href="https://www.freecodecamp.com" target="_blank">freeCodeCamp</a>. The purpose
  of this community is to help the students connect and build a network which is
  crucial when it comes to learning how to code and looking for a new job as a 
  developer.</p>
</div>