<div class="home jumbotron text-center">
  <h1>Welcome to GitConnect</h1>
  <h3>
    Connect and network with your fellow <a href="https://www.freecodecamp.com" 
    target="_blank">freeCodeCamp</a> students 
  </h3>
</div>