<div class="home jumbotron text-center container">
  <h1>Welcome to GitConnect</h1>
  <h3>
    Connect and network with your fellow <a href="https://www.freecodecamp.com" 
    target="_blank">freeCodeCamp</a> students 
  </h3>
  <% if user_signed_in? %>
  
  <% else %>
    <div class="row">
      <div class="col-md-4 col-md-offset-4" id="signup">
        <%= link_to 'Sign Up', new_user_registration_path, 
                           class: "btn btn-primary btn-lg btn-block" %>
      </div>
    </div>
  <% end %>
  
</div>