@import url('//fonts.googleapis.com/css?family=Josefin+Sans|Quicksand');

* {
  margin: 0;
  padding: 0;
}

html,body,#page, header { 
  height:100%;
}
/* FOOTER HEIGHT */
footer { 
  position:absolute;
  bottom:0;
}

$font-family-base: 'Josefin Sans', sans-serif;

$navbar-default-bg: #181842;
$navbar-default-link-color: #ffffff;
$navbar-default-toggle-icon-bar-bg: #ffffff;
$navbar-default-toggle-hover-bg: #d3e0f7;
$navbar-default-link-hover-color: #d3e0f7;
$dropdown-link-color: #181842;
$dropdown-link-hover-color: #ffffff;
$dropdown-link-hover-bg: #181842;
$component-active-bg: #181842;
$jumbotron-bg: #d3e0f7;
$well-bg: #d3e0f7;
$well-border: #ffffff;
$btn-default-bg: #ffffff;
$btn-default-color: #181842;
$btn-primary-bg: #181842;
$btn-primary-color: #f4f5f9;
$btn-info-bg: #005f6b;
$btn-info-color: #ffffff;
$btn-success-bg: #004e66;
$btn-success-color: #F8FAFF;
$btn-warning-bg: #a6172d;
$btn-warning-color: #ffffff;


@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

body {
  padding-top: 70px;
  background-color: #ffffff;
  color: #181842;
}

h1, h2, h3 {
  font-family: 'Quicksand', sans-serif;
  font-weight: normal;
}

p {
  font-size: 1.3em;
}
// Navbar

.navbar-default {
  padding: 5px 20px;
}
.navbar-default .navbar-nav > li > a {
  font-size: 1.5em;
}

.navbar-default .navbar-nav > a, 
.navbar-default .navbar-nav > a:hover, 
.navbar-default .navbar-nav > a:focus {
  background-color: #181842;
  color: #d3e0f7;
}

#logo {
  font-size: 1.6em;
  font-weight: 600;
}

.navbar-brand {
  padding: 5px 15px;
  letter-spacing: 3px;
}

#logo:hover {
  background-color: transparent;
  color: #ffffff;
}

.navbar-brand > img {
  display: inline;
  height: 40px;
  width: 40px;
}

//Jumbotron

.jumbotron {
	max-width: 2400px;
	min-height: 220px;
	margin: 10px auto;
	padding-top: 15px;
	padding-bottom: 15px;
  background-size: cover;
}

.jumbotron h1, .jumbotron .h1 {
  color: #181842;
  font-size: 3em;
  padding-top: 20px;
  font-weight: 600;
}

.jumbotron h3, .jumbotron .h3 {
  color: #181842;
  font-size: 2.5em;
}

#signup {
  margin-top: 30px;
  margin-bottom: 30px;
}

// Contact form


//  Footer credits pill

footer a:hover {
  color: #a6172d;
}

footer ul {
  float: right;
  list-style: none;
}

.nav-pills {
  background-color: #181842;
}

.nav-pills > li > a:hover {
  border-radius: 0;
}

.nav > li > a:hover, .nav > li > a:focus {
  background-color: #ffffff;
  border-radius: 0;
}

a#by-tab {
  color: #ffffff;
}

a#by-tab:hover {
  color: #181842;
}

// Devise flash messages

.alert-notice {
  display: none;
}

// Plans
.home-signup-links {
  margin-top: 15px;
  margin-bottom: 5px;
}

.pro {
margin-right: -15px;
}

.basic {
  margin-left: -15px;
}